@import url(https://site-assets.fontawesome.com/releases/v6.6.0/css/all.css);
@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
    margin: 0;
    padding: 0;
    font-family: InterVariable, 'Roboto', sans-serif;
    background-color: #111;
    color: white;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex {
    display: flex;
}
.align {
    align-items: safe center;
}
.justify {
    justify-content: safe center;
}
.flex-col {
    flex-direction: column;
}
.full-w {
    width: 100%;
}
.h-90 {
    height: 90%;
}
.gap-1 {
    gap: 1rem;
}
.gap-05 {
    gap: 0.5rem;
}
.wavebg-one {
    overflow: hidden;
    border-radius: 12px;
    position: relative;
}

.movie-card {
    width: 180px;
    flex-shrink: 0;
}
.movie-card img {
    width: 100%;
    transition: all 0.15s ease;
    border-radius: 12px;
    cursor: pointer;
}
.movie-card:hover img {
    transform: scale(1.05);
    box-shadow: 0 0 10px 5px #202025;
}
.movie-list {
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    padding: 1rem;
    width: 100%;
    /* purple thin scrollbar */
    scrollbar-width: thin;
    scrollbar-color: #202025 #111;
    user-select: none;
}
.movie-card span {
    display: block;
    font-size: 0.8rem;
    margin-top: 0.5rem;
    color: #aaa;
}
.list-list {
    overflow-y: auto;
    height: 100%;
    padding: 0.2rem;
    /* purple thin scrollbar */
    scrollbar-width: none;
    user-select: none;
}
.wavebg-canvas {
    width: 100%;
    overflow: hidden;
    border-radius: 12px;
}

.nav-section {
    width: 15%;
    flex-shrink: 0;
}
.media-options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    flex-shrink: 0;
    width: 70%;
}
.media-options a {
    text-decoration: none;
    color: white;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
    background-color: #202025;
    transition: all 0.3s;
}
.media-options a:hover {
    background-color: #404060;
    color: #eef;
}
.mini-options {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    gap: 0.5rem;
}
.mini-options a {
    text-decoration: none;
    color: white;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
    border-radius: 5px;
    background-color: #202025;
    transition: all 0.3s;
}
.movie-page {
    display: flex;
    gap: 1rem;
    width: 100%;
    height: 100%;
}
.movie-page iframe {
    width: calc(80% - 30px);
    height: 60%;
    border-radius: 12px;
    margin-top: 2px;
    border: none;
    border: 1px solid #32383e50;
}
.ss-item.active {
    background: #252540;
}
.ss-item.active:hover {
    background: #353550;
}
.movie-page:not(.fullscreen) iframe {
    margin-top: 20px;
}
.hover-game:hover {
    background: #ffffff20;
    cursor: pointer
}
.info-card {
    width: 80%;
    padding: 1rem;
    height: 30%;
    border: 1px solid #32383e;
    border-radius: 12px;
    min-height: 140px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-shrink: 0;
}
.info-card.selection {
    flex-direction: column;
    justify-content: flex-start;
}
.info-card img {
    height: 100%;
    border: 2px solid #3a3f44;
    border-radius: 12px;
}
.servers {
    width: 300px;
}
.server {
    border-radius: 6px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background: #222;
    padding: 0.4rem 0.75rem;
    transition: all 0.2s ease;
}
.server.light {
    display: flex;
    align-items: center;
    padding: 0;
    background: transparent !important;
}
.server:hover, .ss-item:not(.not-button):hover {
    background: #333;
}
.ss-item.not-button {
    background: #1a1a1a;
    cursor: default;
}
.media-options a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 4px;
}

.hide-on-desktop {
    display: none !important;
}
.details {
    overflow-y: auto;
    height: 100%;
    flex-shrink: 0;
    max-width: calc(100% - 420px);
    scrollbar-width: thin;
    scrollbar-color: #202025 #111;
}
.ss-item {
    background: #222;
    width: 50%;
    height: 100%;
    padding: 0.65rem 0.75rem;
    cursor: pointer;
    text-align: center;
}
.server-split {
    width: 100%;
    display: flex;
    height: 100%;
    gap: 2px;
}
.left-corners {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
.right-corners {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.adult {
    filter: blur(5px);
}

.movie-card-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 25px;
    cursor: pointer;
    width: 100%;
    height: 100%;
    font-family: Inter;
    font-weight: 800;
    font-size: 2.2rem;
    color: white;
    text-shadow: -1px 1px 5px #000;
}

@media (max-width: 768px) {
    .servers {
        width: 160px;
    }
    .movie-page iframe {
        width: 100%;
        height: 30%;
    }
    .content {
        width: 100%;
    }
    .hide-on-mobile {
        display: none !important;
    }
    .media-options {
        width: 100%;
    }
    .movie-card {
        width: 120px;
    }
    .media-options a {
        font-size: 12px;
        padding: 0.5rem 0.6rem;
    }
    .info-card {
        width: 100%;
        height: 140px;
    }
    .info-card .details {
        display: none;
        /* width: calc(100% - 200px); */
    }
    .hide-on-desktop {
        display: flex !important;
    }
    .mobileCards {
        margin: 0px 0;
        flex-direction: column;
        gap: 10px;
        height: auto;
    }
    .mobileCards > div {
        padding: 0;
    }.mobileButtons {
        flex-direction: column;
    }
    
}
.server.thin {
    padding: 0.2rem 0.5rem;
}
.movie-page.fullscreen {
    padding: 0;
}
.movie-page.fullscreen iframe {
    width: 100%;
    height: 100%;
}
.movie-page.fullscreen .info-card {
    display: none;
}


.desktop-app-framed .hide-on-desktopapp {
    display: none !important;
}

.desktop-app-framed {
    border: 0 !important;
    padding: 0 !important;
    background: transparent;
    width: calc(100% - 18px) !important;
    height: calc(100% - 10px) !important;
}

.fullscreen .hide-on-fullscreen {
    display: none !important;
}
.mnm-btn {
    font-size: 22px;
    background: #ffffff15;
    border: 1px solid #ffffff4a;
    position: absolute !important;
    top: 10px;
    left: 10px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
}